html, body {
  width: 650px;
}

#heading{
  width: 650px;
  height: 100px;
  background-color:#1E90FF;
}

#heading_text{
  color:white;
  position:relative;
  top : 35%;
}

.button {
  margin: 3% auto;
  padding: 4px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

#Team_A{
  color: 	#4169E1;
  font-family:sans-serif;
  font-weight: bolder;
}

#Team_B{
  color: 	#DC143C;
  font-family:sans-serif;
  font-weight: bolder;
}

#Status{
  color: 	#228B22;
  font-family:sans-serif;
  font-weight: bolder;
}

.hr_style{
color: #1E90FF;
background-color: #1E90FF;
height: 4px;
}

.versus_image{
  height: 25px;
  width: 25px;
  position: relative;
  top: 8px;
}
